<% errors = model.errors %>

<% if errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="lead buffer-bottom">
      <%= pluralize(errors.count, "error") %> prohibited this user from being saved:
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
